.stat-card{

display:flex;

align-items:center;

gap:20px;

background:white;

padding:25px;

border-radius:18px;

box-shadow:var(--shadow);

transition:.25s;

}

.stat-card:hover{

transform:translateY(-6px);

}

.stat-card-icon{

width:65px;

height:65px;

display:flex;

align-items:center;

justify-content:center;

background:linear-gradient(
135deg,
var(--primary),
var(--primary-light)
);

border-radius:18px;

color:white;

}

.stat-card-icon svg{

width:32px;

height:32px;

}

.stat-card-info span{

font-size:14px;

color:#64748B;

}

.stat-card-info h2{

font-size:34px;

margin-top:5px;

}