.sidebar{

    width:280px;

    background:#ffffff;

    border-right:1px solid var(--border);

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    transition:.3s;

    box-shadow:var(--shadow);

    z-index:1000;

}

.sidebar.collapsed{

    width:88px;

}

.sidebar-header{

    padding:22px;

    border-bottom:1px solid var(--border);

}

.sidebar-toggle{

    width:42px;

    height:42px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    background:var(--background);

    margin-bottom:25px;

    transition:.25s;

}

.sidebar-toggle:hover{

    background:var(--primary);

    color:white;

}

.logo{

    display:flex;

    align-items:center;

    gap:15px;

}

.logo-icon{

    width:52px;

    height:52px;

    border-radius:16px;

    background:linear-gradient(
        135deg,
        var(--primary),
        var(--primary-light)
    );

    display:flex;

    align-items:center;

    justify-content:center;

    color:white;

}

.logo-text strong{

    display:block;

    font-size:20px;

}

.logo-text small{

    color:#64748B;

}

.sidebar-menu{

    display:flex;

    flex-direction:column;

    padding:18px;

    gap:6px;

}

.sidebar-menu a{

    display:flex;

    align-items:center;

    gap:14px;

    padding:14px 16px;

    border-radius:14px;

    color:var(--text);

    text-decoration:none;

    transition:.25s;

    font-weight:500;

}

.sidebar-menu a svg{

    width:20px;

    height:20px;

}

.sidebar-menu a:hover{

    background:#EEF7F1;

    color:var(--primary);

}

.sidebar-menu a.active{

    background:var(--primary);

    color:white;

}

.sidebar-footer{

    padding:18px;

    border-top:1px solid var(--border);

}

.sidebar-footer a{

    display:flex;

    align-items:center;

    gap:14px;

    padding:14px 16px;

    text-decoration:none;

    color:var(--text);

    border-radius:14px;

    transition:.25s;

}

.sidebar-footer a:hover{

    background:#EEF7F1;

}

.sidebar.collapsed .logo-text,

.sidebar.collapsed span{

    display:none;

}

.sidebar.collapsed .logo{

    justify-content:center;

}

.sidebar.collapsed .sidebar-menu a,

.sidebar.collapsed .sidebar-footer a{

    justify-content:center;

}